/* START section_map */
.section_map {
    background: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 140px;

}
body {
    background: rgba(0, 0, 0, 1) !important;
}

.section_map > nav {
    margin-top: 100px;
}
.section_map-title {
    margin-top: 15px;
    font-size: 35px;
    line-height: 180%;
    text-align: center;
}
.section_map-text {
    display: inline-block;
    margin-top: 12px;
    font-size: 18px;
    text-align: center;
}
.section_map-img {
    margin-top: 90px;
}
.section_map-wrapper {
    margin-top: 80px;
    display: flex;
    font-size: 18px;
}
.section_map-social_icon {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}
.section_map-social_icon > span{

    padding-left: 16px;
}

.social_icon-wrapper {
    display: flex;
    row-gap: 15px;
}
.section_map-phone {
    display: flex;
    column-gap: 25px;
    border-right: 1px solid var(--main-white);
    border-left: 1px solid var(--main-white);
    width: 300px;
    align-items: center;
    justify-content: center;
}

.location_point {
    display: flex;
    column-gap: 20px;
    align-items: center;
    padding-left: 35px;
}
.section_map-wrapper .social_icon-wrapper img {
    transition: all 1s ease;
}
.section_map-wrapper .social_icon-wrapper img:hover {
    transform: scale(1.1);
}
/* END section_map */
/* START section_form */
.section_form {
    font-size: 16px;
    /*background: #1C140F;*/
    background-image: url("../IMG/constacts/fone.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section_form-title {
    font-size: 30px;
    text-align: center;
    margin-top: 55px;
}
.section_form-text {
    text-align: center;
    margin-top: 25px;
}
.section_form form {
    margin: 80px auto;
    max-width: 600px;
}

.section_form form .inline {
    display: flex;
    justify-content: space-between;
}

.section_form form .inline > div {
    width: 100%;
}
.section_form form label {
    color: #4F4F4F;
}
.section_form form input, .section_form form textarea {
    background: #2c2420;
    border-radius: 10px;
    border: 0.6px solid #cecece;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: var(--main-white);
    margin-bottom: 20px;
    margin-top: 7px;
}
.section_form form .one_line {
    width: 96%;
}
.section_form form textarea {
    resize: none;
    height: 210px;
}

.section_form form button {
    background-color: var(--main-active);
    color: var(--main-white);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    float: right;
    padding: 15px 30px;
    transition: all 1s ease;
    margin-right: 20px;

}
.section_form form button:hover {
    background-color: var(--main-active-hover-btn);
    transform: scale(1.02);
}

.section_email {
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(26, 14, 1, 1) 100%
    );
}