ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
/* START section-one*/
.portfolio__section-one {
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.portfolio__section-one nav span:nth-child(2) {
    padding-left: 5px;
}
.portfolio__section-one--title {
    font-size: 33px;
    line-height: 180%;
    text-align: center;
    margin-bottom: 15px;
}

.portfolio__section-one--text {
    font-size: 18px;
    line-height: 185%;
    text-align: center;
    margin-bottom: 15px;
}
.portfolio__section-one nav {
    display: flex;
    justify-content: center;
}

.portfolio__section-one--wrapper {
    margin: 50px auto;
    background-color: var(--background);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1140px;
    height: 200px;
    padding: 35px;

}

.portfolio__section-one--wrapper-item {
    display: flex;
    align-items: center;
    column-gap: 35px;
    padding: 35px 95px;
}
.portfolio__section-one--wrapper-item:nth-child(2) {
    border-left: 2px solid var(--main-white);
    border-right: 2px solid var(--main-white);
}
.portfolio__section-one--wrapper-item div p:nth-child(1) {
    font-size: 25px;
}
.portfolio__section-one--wrapper-item div p:nth-child(2) {
    font-size: 20px;
    margin-top: 15px;
}
/* section-one END*/
/* START section-two*/
.section-two_wrapper {
    margin: 130px auto 0 auto;
    max-width: 1185px;
    display: flex;
    column-gap: 85px;
}

.section-two-title {
    font-size: 30px;
    line-height: 150%;
}

.section-two--text {
    font-size: 16px;
    margin-top: 12px;
    line-height: 180%;
}

.section-two__list, .section-two__list li {
    margin-top: 20px;

}

.section-two__list-item::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../IMG/portfolio/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 20px;
    vertical-align: middle;
}
/* END section-two*/

/* START section-three, section-four, section-five */
.section-five > .container {
    padding-bottom: 165px;
}
.section-three_wrapper-content,
.section-four_wrapper-content,
.section-five_wrapper-content {
    display: flex;
    margin-top: 120px;
    justify-content: space-around;
}

.section-three_content,
.section-four_content,
.section-five_content {
    max-width: 535px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-three_content h3,
.section-four_content h4,
.section-five_content h5 {
    font-size: 30px;
    line-height: 180%;
}

.section-three_content p,
.section-four_content p,
.section-five_content p {
    font-size: 18px;
    line-height: 180%;
}

.section-three_content p:nth-child(2),
.section-four_content p:nth-child(2),
.section-five_content p:nth-child(2),
.section-three_content p:nth-child(3),
.section-four_content p:nth-child(3),
.section-five_content p:nth-child(3) {
    margin-top: 40px;
}

.section-three_content p:nth-child(3),
.section-four_content p:nth-child(3),
.section-five_content p:nth-child(3) {
    margin-top: 20px;
}

.portfolio-btn {
    padding: 15px 45px;
    background-color: var(--main-gold);
    color: var(--main-white);
    font-size: 18px;
    display: inline-block;
    margin-top: 45px;
    cursor: pointer;
    transition: all 1s ease;
}
.portfolio-btn:hover {
     background-color: var(--main-active-hover-btn);
}

/* END section-three, section-four, section-five */

/* START portfolio-reviews */
.portfolio-reviews {
    background-color: var(--background);
}

.portfolio-reviews_title {
    text-align: center;
    font-size: 35px;
    padding-top: 85px;
}
.portfolio-reviews_text {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    line-height: 180%;
}
.slider-container {
    max-width: 70%;
    margin: 0 auto;
}
.slider-wrapper {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
}
.slider-item {
    width: 400px;
    height: 230px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid var(--main-white);
    transition: border-color 0.7s ease-in-out;
    padding: 20px 15px;
}
.slider-item:hover {
    border: 2px solid var(--main-active);
}
.slider-item_wrapper {
    display: flex;
    justify-content: space-between;

}

.slider-item_wrapper div {
    display: flex;
    align-items: center
}
.slider-item_wrapper > div:first-child {
    column-gap: 20px;
}
.slider-item_wrapper > div:nth-child(2) {
    column-gap: 10px;
}
.slider-item_wrapper > div:nth-child(2) > img {
    width: 20px;
}
.slider-item > p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 180%;
}
.slider-wrapper span {
    font-size: 14px;
    color: #4F5665;
}
.slider-container_for_button-and-points {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-container_points {
    display: flex;
    justify-content: space-between;
    width: 15%;
    column-gap: 15px;
    align-items: center;
}
.point-item {
    background-color: var(--main-white);
    height: 20px;
    border-radius: 50%;
    width: 20px;
}

.slider-active {
    background-color: var(--main-active);
    width: 55px;
    border-radius: 10px;
}
.slider-container_button {
    display: flex;
    column-gap: 20px;
}
.slider_btm {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--main-gold);
    background-color: transparent;
    cursor: pointer;
}
.slider_btm-left {
    background-image: url('../IMG/portfolio/arrow_back.png');
    background-repeat: no-repeat;
    background-position: center;
}
.slider_btm-right {
    background-image: url('../IMG/portfolio/arrow_next.png');
    background-repeat: no-repeat;
    background-position: center;
}